*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear:both;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.header {
    position: absolute;
    height: 13%;
    width: 100%;
    border-bottom: 1px solid black;
}

h1 {
    position: absolute;
    margin-top: 1%;
    margin-left:2%;
    width: 10%;
}

.word{
    position: absolute;
    display: block;
    height: 2%;
    width: 20%;
    line-height: 3%;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 35px;
}

.nav{
    position: absolute;
    height: 100%;
    width: 70%;
    margin-left: 30%;
}

.a1{
    height: 50%;
    width: 10%;  
    position: absolute;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 25px;
    color:black;
    text-align: center
}

.a2{
    height: 50%;
    width: 15%;
    position: absolute;
    margin-top: 4%;
    margin-left: 30%;
    font-size: 25px;
    color:black;
    text-align: center
}

.a3{
    height: 50%;
    width: 15%;
    position: absolute;
    margin-top: 4%;
    margin-left: 53%;
    font-size: 25px;
    color:black;
    text-align: center
}

.a1:hover{
    box-shadow:black 0px 0px 10px;
}

.a2:hover{
    box-shadow:black 0px 0px 10px;
}

.a3:hover{
    box-shadow:black 0px 0px 10px;
}

.search{
    position: absolute;
    margin-left:70%;
    width: 270px;
    height: 40px;
    margin-top: 4%;
    
}

.search input{
    margin-top: 3px;
    width: 270px;
    height: 35px;
    padding-left: 44px;
    border-radius: 16px;
}

.search input::placeholder{
    
    color: #bfbfbf;
}

.search button{
    position: absolute;
    border: none;
    width: 10px;
    height: 10px;
    top: 6px;
    left: 14px;
    cursor:pointer; 
}

.zuo{
    position: absolute;
    left: 20px;
    top: 130px;
    width: 900px;
    height: 600px;
}

.wenzi{
    position: absolute;
    left: -160px;
}

#title{
    margin-left: 500px;
    letter-spacing: 10px;
    font-family: 楷体;
    font-size: 3em;
}

.you{
    position: absolute;
    right: 40px;
    top:130px;
    height: 600px;
    width: 400px;  
    border: 1px solid black;
}

.guanzhu{
    margin-top: 40px;
    margin-left: 80px;
    letter-spacing: 5px;
    font-size: 1.2em;
}

.ct{
    margin-top: 20px;
    border: 1px solid #89D4FF;
    border-radius: 10px;
    background-color: #89D4FF;
}

.under{
    text-decoration: underline;
}

#para{
    font-size: smaller;
    color: black;
}