*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear:both;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.header {
    position: absolute;
    height: 14%;
    width: 100%;
    border-bottom: 1px solid black;
}

h1 {
    position: absolute;
    margin-top: 1%;
    margin-left:2%;
    width: 10%;
}

.word{
    position: absolute;
    display: block;
    height: 2%;
    width: 20%;
    line-height: 3%;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 35px;
}

.nav{
    position: absolute;
    height: 100%;
    width: 70%;
    margin-left: 30%;
}

.a1{
    height: 50%;
    width: 10%;  
    position: absolute;
    margin-top: 4%;
    margin-left: 10%;
    font-size: 25px;
    color:black;
}

.a2{
    height: 50%;
    width: 15%;
    position: absolute;
    margin-top: 4%;
    margin-left: 30%;
    font-size: 25px;
    color:black;
}

.a3{
    height: 50%;
    width: 15%;
    position: absolute;
    margin-top: 4%;
    margin-left: 53%;
    font-size: 25px;
    color:black;
}

.a1:hover{
    box-shadow:black 0px 0px 10px;
}

.a2:hover{
    box-shadow:black 0px 0px 10px;
}

.a3:hover{
    box-shadow:black 0px 0px 10px;
}

.search{
    position: absolute;
    margin-left:80%;
    width: 270px;
    height: 40px;
    margin-top: 2.8%;
    
}

.search input{
    margin-top: 3px;
    width: 270px;
    height: 35px;
    padding-left: 44px;
    border-radius: 16px;
}

.search input::placeholder{
    
    color: #bfbfbf;
}

.search button{
    position: absolute;
    border: none;
    width: 10px;
    height: 10px;
    top: 6px;
    left: 14px;
    cursor:pointer; 
}

.line3{
    margin-top: 7%;
    border-bottom: 1px solid black;
}
.left{
    position:absolute;
    width:65%;
    height: 100%;
    top: 14%;
    border-right: 1px solid black;
}

.right{
    position: absolute;
    width: 35%;
    height: 100%;
    top: 14%;
    left: 65%;
}

#first{
    font-size: 1.8em;
    margin-top: 3%;
    margin-left: 40%;
}

#second{
    margin-top: 2%;
    margin-left: 42%;
}

#third{
    margin-left: 5%;
}

#fourth{
    float: left;
    margin-top: 6%;
    margin-left: 30%;
    font-size: 1.8em;
}

.picture{
    float: left;
    margin-left: 10%;
}

#fifth{
    float: left;
    margin-left: 6%;
    margin-top: 4%;
}

.le{
    position: absolute;
    width: 70%;
    height:25%;
}

.ri{
    position: absolute;
    width: 30%;
    height:25%;
    margin-left: 70%;
}

.btn{
    float: left;
    width: 70%;
    height: 20%;
    margin-left: 15%;
    margin-top:10%;
    border:1px solid black;
}

.btn button{
    width: 100%;
    height: 100%;
}

.middle{
    position: absolute;
    float: left;
    margin-top: 35%;
    width: 100%;
    height: 75%;
    padding-left: 7%;
    padding-top: 6%;
}

.biaoti{
    font-size: 20px;
}
    
.intro{
    margin-top: 3%;
    margin-left: -1%;
    text-indent:2em;
    width: 95%;
    height: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 5px;
}

.bottom{
    margin-top: 40%;
    margin-left: 35%;
    font-size: 30px;
}